name: Run-Tests

on: [pull_request]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set screen resolution
      run: |
        Set-DisplayResolution -Width 1920 -Height 1080 -Force

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install .[dev]

      
    # https://github.com/mxschmitt/action-tmate?tab=readme-ov-file#manually-triggered-debug
    # Enable tmate debugging if debug logging is enabled (cf.
    # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/accessing-contextual-information-about-workflow-runs#runner-context)
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
          limit-access-to-actor: false
    - name: Run tests
      run: |
        python -m unittest discover
      env:
        CONN_STRING: sqlite+pysqlite:///test_db.db